body{
	background-image: url("space.jpeg");
	font-family: "Verdana", sans-serif;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	margin: auto;
	width: 100%;
	height: 100%;
}

.container{
	width: 730px;
	margin: 0 auto;
}

#header{
	margin-top: 30px;
	margin-bottom: 5px;
	position: relative;
}

#header:after, #header:before{
	display: table;
	content: "";
}

#header:after{
	clear: both;
}

#header h2{
	color: #fff;
	font-family: Lucida Sans Unicode;
	margin-bottom: 25px;
	margin-top: -10px;
	font-size: 37px;
	text-align: center;
}

.form-container{
	background: rgba(0,0,0,0.5);
	padding: 20px;
	position: relative;
	box-shadow: 0 0 10px 5px black;
	border-radius: 3px;
	margin-bottom: 30px;
}

.form-container:before{
	bottom: -14px;
	left: 8px;
	width: 100%;
	border-radius: 3px;
	box-shadow: 0 0 10px 5px black;
}

fieldset{
	border: 5px solid #ffb7cf;
	border-radius: 3px;
	margin-bottom: 25px;
}

legend{
	padding-right: 20px;
	padding-left: 20px;
	font-weight: 900;
	color: #cf5c95;
	margin-bottom: 8px;
	font-size: 20px;
}

.form-grup{
	margin-bottom: 15px;
	margin-right: 17px;
	color: #fff;
}

.form-grup:after, .form-grup:before{
	display: flex;
	justify-content: space-between;
	content: "";
}

.form-grup:after{
	clear: both;
}

.label{
	float: left;
	width: 100%;
	border: 0;
	color: #fff;
	font-size: 16px;
	margin-bottom: 1px;
	padding-left: 7px;
}

.label label{
	display: inline-block;
	vertical-align: -webkit-baseline-middle;
}

.input{
	float: left;
	width: 70%;
	border: 0;
	background: none;
	border: none;
	outline: none;
}

.form-grup hr{
	margin-left: 11px;
	color: #5e558e;
	border: solid;
}

a{
	font-weight: bold;
	cursor: pointer;
	color: #4b82d4;
}

input[type=text], input[type=text], input[type=date], textarea, input[type=email], input[type=tel], input[type=text], input[type=tel]{
	border: none;
	padding: 8px;
	border-radius: 3px;
	background: none;
	width: 100%;
	font-family: inherit;
	border-bottom: 2px solid #ffb7cf;
	color: white;
	font-size: 14px;
}

input[type=checkbox]:checked{
	background-color: rgb(0,0,0,0.5);
	color: #fff;
}

button[type=submit]{
	background: #cf5c95;
	border-radius: 5px;
	border-color: #ffb7cf;
	font-family: verdana, sans-serif;
	color: #fff;
	font-size: 17px;
	padding: 10px 20px;
	text-decoration: none;
	float: right;
}

button[type=submit]:hover{
	background: #5e558e;
	text-decoration: none;
	cursor: pointer;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5 s all;
	-ms-transition: 0.5s all;
}

footer{
	padding: 3px;
	font-size: 20px;
	font-weight: bold;
	font-family: "Courier New", Courier, monospace;
	color: #eae9f3;
	text-align: center;
}

.upload-btn-wrapper{
	width: 500px;
	margin: 0 auto;
}

#header h3{
	color: #fff;
	font-family: Lucida Sans Unicode;
	margin-bottom: 25px;
	margin-top: -10px;
	font-size: 30px;
	text-align: center;
}

input[type=file]:hover{
	background: #5e558e;
	text-decoration: none;
	cursor: pointer;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5 s all;
	-ms-transition: 0.5s all;
}
	
.form-control{
	border: 2px solid #ffb7cf;
	color: #fff;
	background-color: #5e558e;
	font-family: 'Verdana', sans-serif;
	padding: 8px 20px;
	border-radius: 5px;
	font-size: 14px;
	margin-top: 10px;
	margin-left: 55px;
}

@media (max-width: 480px){
	.container{
		width: 95%;
		margin: 0 auto;
	}
	.label{
		float: none;
		width: 95%;
	}
	.input{
		float: none;
		width: 95%;
	}
	#header h2{
		float: none;
		width: 100%;
		font-size: 25px;
		text-align: center;
		margin-bottom: 15px;
	}
	legend{
		float: none;
		width: 95%;
		font-size: 16px;
	}
	.form-grup{
		font-size: 14px;
	}
	fieldset{
		margin-bottom: 20px;
	}
	button{
		cursor: pointer;
	}
	.upload-btn-wrapper{
		width:95%;
		margin: 0 auto;
	}
	.form-control{
		font-size: 12px;
		margin-left: 25px;
		margin-top: 8px;
	}
	#header h3{
		float: none;
		width: 100%;
		margin-bottom: 15px;
		font-size: 25px;
		text-align: center;
	}
	
}

@media (min-width: 480px) and (max-width: 768px){
	.container{
		width: 100%;
	}
}